<form [formGroup]="passwordForm">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        Name *:
      </div>
      <div class="ui-grid-col-6">
        <input type="password" pInputText [formControlName]="FORM_PASSWORD" placeholder="PASSWORD" required pPassword />
      </div>
      <div class="ui-grid-col-4">
        <p-message severity="error" text="Required"
          *ngIf="!passwordForm.controls[FORM_PASSWORD].valid&&passwordForm.controls[FORM_PASSWORD].dirty"></p-message>
      </div>
    </div>

  </div>

</form>

<div class="footer-actions">
  <button type="submit" pButton icon="pi pi-pencil" label="Save" (click)="save()"
    [disabled]="!passwordForm.valid"></button>
  <button type="reset" pButton icon="pi pi-times" (click)="ref.close(null)" label="Cancel"
    class="ui-button-secondary"></button>
</div>